.ContactsLayout {
    display: flex;
    width: 100%;
  }
  
  .Sidebar {
    display: flex;
    flex-direction: column;
    width: 260px;
    flex-shrink: 0;
    padding: 16px;
    background-color: slateblue;
    height: calc(100vh - 60px);
    overflow: hidden;
  }
  
  .Subtitle {
    margin-bottom: 4px;
    padding-left: 12px;
  }
  
  .Menu ul {
    display: flex;
    gap: 8px;
    list-style: none;
  }
  
  .Menu a {
    display: block;
    padding: 8px 12px;
    border-radius: 8px;
  }
  
  .Menu a:hover,
  .Menu a[data-active="true"] {
    background-color: darkslateblue;
  }
  