.Layout {
  --gray-rgb: 0, 0, 0;
  --gray-alpha: 0.5;
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 64px 16px 16px;
  background-color: rgba(var(--gray-rgb), var(--gray-alpha));
}

.Layout h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 16px;
}

.Layout p {
  font-size: 16px;
  line-height: 1.5;
}